@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira Stencil', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #7e29ff, #390454 100%);
}

.main-card{
    display: flex;
    width: 850px;
    height: 520px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.form-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.img-side{
    flex: 1;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.img-container{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    color: #390454;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.input-field{
    position: relative;
    font-size: 0.85rem;
    margin-bottom: 20px;
    border-bottom: 600px;
}

.input-field input{
    width:100%;
    background: transparent;
    border: none;
    outline: none;
    padding:  10px 30px 10px 0;
    color: #222;
    font-size: 16px;
    border-bottom: #390454 2px solid;
}

.input-field label{
    display: block;
    top: 10px;
    left: 0;
    color: #390454;
    font-size: 16px;
    pointer-events: none;
    transition: .3s ease;
}

.input-field i{
    position: absolute;
    right: 5px;
    bottom: 12px;
    color: #390454;
}

.signup-btn, .login-btn{
    width: 60%;
    padding: 10px;
    background: #390454;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 20px;
    transition: .3s ease;
}

.signup-btn:hover,.login-btn:hover{
    background: #5400d2;
    transform:scale(1.05);
}

.footer-text{
    margin-top: 20px;
    color: #390454;
    font-weight: 500;
    margin-top: 25px;
    font-size: 14px;
}

.footer-text a {
    color: #390852;
    font-weight: 700;
    text-decoration: none;
    margin-left: 5px;
    transition: .3s ease;
}


@media (max-width: 768px) {
    .main-card {
        width: 90%;
        height: 500px ;
    }

    .form-side{
        width: 100%;
        height: 100%;
    }

    .img-side{
        height: 100%;
        width: 100%;
    }

    .img-container {
        height: 200px;
    }
}